html,
body {
  margin: 0;
}

.header {
  display: flex;
  background-color: #f55a5a;
  margin: 0 auto;
  max-width: 550px;
  justify-content: center;
  align-items: center;
  color: white;
  padding-block: 1rem;
  gap: 7px;
}

.header h1 {
  font-size: 14px;
}

.header img {
  width: 24px;
  height: 24px;
}
